<ng-container *ngIf="api$ | async as api; else loading ">
  <ng-container *ngIf="api.data; else error">
    <ng-container *ngIf="api.data.length>0; else empty">
      <!-- {{ api.data | json }} -->
      <ng-container [ngTemplateOutlet]="dataTemplate"
                    [ngTemplateOutletContext]="{ $implicit: api.data}"></ng-container>
    </ng-container>
  </ng-container>
  <ng-template #empty>
    <app-empty [dataName]="dataName"></app-empty>
  </ng-template>
  <ng-template #error>
    <app-error [dataName]="dataName"
               [error]="api.error"></app-error>
  </ng-template>
</ng-container>
<ng-template #loading>
  <app-loading [dataName]="dataName"></app-loading>
</ng-template>
